.main{
    background-image: url("../assets/navbar.svg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/* .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.nav-content , .arrowdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
} */